//
   Created by Nicolas.Vatin on 20/04/2016.
footer
    .container
        p.pull-right
            a(href='#') Back to top
        p
            | &copy; 2016 Company, Inc. &middot;
            a(href='#') Tweeter
            |  &middot;
            a(href='#') Facebook
            |  &middot;
            a(href='/contact') Contact
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
script(src='/javascripts/bootstrap.js')
script(src='/docs/assets/js/_vendor/holder.js')
script(src='http://code.jquery.com/jquery-1.12.0.min.js')
script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
script(type='text/javascript').
    function chargement() {

        $('#'+"#{id}").addClass('active');
    }
    window.onload = chargement();