footer
  .container
    .row
      .col-xs-4.col-xs-offset-2.col-sm-2.col-sm-offset-2
        ul
          li
            a(href="/") Accueil
          li
            a(href="/education") Education
      .col-xs-4.col-sm-2
        ul
          li
            a(href="/comportement") Comportement
          li
            a(href="/prestations") Tarifs

      .col-xs-4.col-xs-offset-2.col-sm-2.col-sm-offset-0
        ul
          li
            a(href="/qui-suis-je") Qui suis-je ?
          li
            a(href="/contact")
              | Contact
      .col-xs-4.col-sm-2
        ul
          li
            a(href="https://www.facebook.com/smartdogseduc/" target="_blank")
              .fa.fa-facebook-square
              | Facebook
          li
            a(href="#")
              .fa.fa-twitter-square
              | Twitter

// Created by Nicolas.Vatin on 20/04/2016.
