.navbar-header {
  padding-left: 3%;

  .navbar-brand {
    padding: 5px 15px 5px 0;
  }

  .logo {
    height: 100%;
  }
}

.loginhead {
  position: absolute !important;
  right: 0;
  top: 0;
  bottom: -1px;
  width: 190px;
  z-index: 2;

  a {
    background: black !important;
    color: white !important;
    padding-top: 4px !important;
    height: 51px;
  }

  .fa {
    padding-right: 5px;
    font-size: 130%;
    position: relative;
    top: 2px;
  }
}

.navbar {
  .item-services {
    a {
      float: left;
      padding-right: 0;
    }
    a + a {
      padding-right: inherit;
    }
  }
}

@media (max-width: 992px) { // @screen-sm) {
  .navbar a {
    font-size: 13px;
  }
}