//
   Created by Nicolas.Vatin on 22/04/2016.

extends layout
block content
    .container
        .jumbotron
            h2.text-center Boutique
            h2.text-center
                small
                    em Page en construction ...
                br
            img(src="/images/img_travaux.jpg" width="100%")