//
   Created by Nicolas.Vatin on 22/04/2016.

extends layout
block content
    .container
        .jumbotron
            h2.text-center Comportement
        .row
            .col-md-8.col-xs-12
                .panel.panel-default
                    .panel-heading
                        h1.text-justify.panel-title
                            br
                            | Votre chien présente un comportement inadapté qui vous
                            | pose problème ? Il jappe à longueur de journée, il détruit, il
                            | grogne, il a peur de tout ? Il a mordu ? Vous n'arrivez pas à le
                            | comprendre ? Dans notre société, les chiens présentent parfois
                            | des problèmes de comportements qui peuvent vite rendre votre vie
                            | quotidienne insupportable.
                            br
                            br
                            br
                            br
                            | Je suis à votre disposition pour vous aider à
                            | analyser la situation, comprendre les raisons qui le font agir
                            | ainsi et à régler ces problèmes.
                            br
                            br
                            br
                            br
                            | Pour ce faire, un bilan est
                            | nécessaire afin de déterminer les causes du comportement
                            | problèmatique. Nous pourrons ensuite travailler ensemble sur ce
                            | comportement précis, en prenant toujours en compte les émotions
                            | et le bien-être de votre chien.
                            br
                            br
                            br
                            br
                            | Une rééducation comportementale peut prendre
                            | du temps : il va de votre responsabilité d'être patient et
                            | bienveillant avec votre chien. Il est important de ne pas brûler
                            | les étapes afin que le comportement se modifie de façon durable
                            | et que vous retrouviez une relation sereine et joyeuse avec votre
                            | compagnon.
                            br
                            br
                            br
                            br
                            br
                            br
                            | Ne restez pas dans une relation conflictuelle avec votre chien :
                            | osez le changement !
                            br
                            br
            .col-md-4.col-xs-12
                .panel.panel-default
                    .item.text-center
                        img(src="/images/img_comp1.jpg" alt="chien")
