//
   Created by Nicolas.Vatin on 22/04/2016.

extends layout
block content
    .container
        .panel.panel-default
            .panel-heading
                h2.text-center Education
            .panel-body
                .row
                    .col-md-3.col-xs-12
                        br
                        img.img-thumbnail(src="/images/img_educ1.jpg")
                    .col-md-8.col-xs-12
                        br
                        br
                        p.text-justify Qu'il s'agisse d'un chiot de 2 mois ou d'un adulte, tous les
                            | chiens peuvent être éduqués, quels que soient leur race, leur
                            | taille et leur tempérament.
                            br
                            br
                            | Je vous propose de vous aider dans cette éducation, afin que votre
                            | toutou acquière les règles de base de votre famille, les bonnes
                            |  manières en société, tout en restant bien dans ses pattes. Je
                            |  peux également vous aider à obtenir de lui des comportements
                            |  précis, qu'il s'agisse d'obéissance, d'obérythmée, de tours
                            |  ludiques...
                            br
                            br
                            b  Quelle méthode ?
                            br
                            br
                            | Eduquer son chien n'a pas besoin d'être synonyme de
                            | "rapport de force". Je peux vous apprendre à travailler AVEC
                            | votre chien, en toute complicité, et de lui donner envie
                            | d'obéir. J'utilise pour cela le renforcement positif : pour
                            | apprendre un comportement, je m'appuie sur la motivation du
                            | chien à exécuter ce comportement, et le récompense.
                            br
                .row
                    .col-md-8.col-xs-12
                        p.text-justify
                            br
                            br
                            b Une récompense, c'est quoi ?
                            br
                            br
                            | Les récompenses peuvent être bien sûr des friandises ou
                            | un jeu que votre chien adore, mais aussi une caresse, une
                            | autorisation à rejoindre un copain, à être lâché, à aller dans
                            | le jardin... en réalité, une récompense, c'est tout ce que veut
                            | le chien à ce moment précis.
                            br
                            br
                            b Et la punition dans tout ça ?
                            br
                            br
                            | La punition peut être utilisée dans l'éducation de votre chien. Cependant, je
                            | n'utilise jamais d'outils / de punition impliquant une douleur
                            | ou une peur pour votre chien. Alors, comment le dissuader
                            | d'avoir un comportement gênant ? Tout d'abord, en lui apprenant
                            | le comportement adéquat... et oui, cela ne lui est pas forcément
                            | naturel de rester sagement sur son tapis lorsqu'un bon poulet
                            | trône sur la table...<br> Ensuite, on peut utiliser ce
                            | qu'on appelle la punition négative : on va retirer quelque chose
                            | de valeur pour le chien.
                    .col-md-4.col-xs-12
                        br
                        img.img-thumbnail(src="/images/img_educ2.jpg")
                .row
                    .col-md-4.col-md-offset-4
                        a.btn.btn-lg.btn-primary.text-center(href="/prestation" role="button") En savoir plus &raquo;