extends layouts/application

block content
  .container.education.editorial
    h2 Education
    img.img-thumbnail.left(src="/images/education-1.jpg")
    p
      | Qu'il s'agisse d'un chiot de 2 mois ou d'un adulte, tous les
      | chiens peuvent être éduqués, quels que soient leur race, leur
      | taille et leur tempérament.
    p
      | Je vous propose de vous aider dans cette éducation, afin que votre
      | toutou acquière les règles de base de votre famille, les bonnes
      |  manières en société, tout en restant bien dans ses pattes. Je
      |  peux également vous aider à obtenir de lui des comportements
      |  précis, qu'il s'agisse d'obéissance, d'obérythmée, de tours
      |  ludiques...
    h3  Quelle méthode ?
    p
      | Eduquer son chien n'a pas besoin d'être synonyme de
      | "rapport de force". Je peux vous apprendre à travailler AVEC
      | votre chien, en toute complicité, et de lui donner envie
      | d'obéir. J'utilise pour cela le renforcement positif : pour
      | apprendre un comportement, je m'appuie sur la motivation du
      | chien à exécuter ce comportement, et le récompense.

    h3.clear Une récompense, c'est quoi ?
    img.img-thumbnail.right(src="/images/education-2.jpg")
    p
      | Les récompenses peuvent être bien sûr des friandises ou
      | un jeu que votre chien adore, mais aussi une caresse, une
      | autorisation à rejoindre un copain, à être lâché, à aller dans
      | le jardin... en réalité, une récompense, c'est tout ce que veut
      | le chien à ce moment précis.
    h3 Et la punition dans tout ça ?
    p
      | La punition peut être utilisée dans l'éducation de votre chien. Cependant, je
      | n'utilise jamais d'outils / de punition impliquant une douleur
      | ou une peur pour votre chien. Alors, comment le dissuader
      | d'avoir un comportement gênant ? Tout d'abord, en lui apprenant
      | le comportement adéquat... et oui, cela ne lui est pas forcément
      | naturel de rester sagement sur son tapis lorsqu'un bon poulet
      | trône sur la table...
    p
      | Ensuite, on peut utiliser ce
      | qu'on appelle la punition négative : on va retirer quelque chose
      | de valeur pour le chien.

    .more.clear.text-center
      a.btn.btn-lg.btn-primary(href="/prestations" role="button") En savoir plus &raquo;