//
   Created by Nicolas.Vatin on 21/04/2016.

extends layout
block content
    .container
        .jumbotron
            h2.text-center Prestations
            h2.text-center
                small
                    em
                        | Smart'Dogs propose des services afin de vous
                        | accompagner dans l'éducation de votre chien, de vous aider à mieux
                        | le comprendre ou à résoudre les problèmes que vous pouvez
                        | rencontrer
        .jumbotron
            .row
                .col-md-3
                    .panel.panel-default
                        .panel-heading
                            h3.text-center.panel-title Education - comportement
                            br
                            .panel-body.color-jumbo.text-justify
                                img(src="/images/img_comp2.jpg" class="img-thumbnail")
                                br
                                br
                                em Des cours à domicile ou en extérieur, adaptés vos besoins
                                br
                                br
                                img(src="/images/img_comp.jpg" class="img-thumbnail")
                .col-md-3.col-md-offset-0
                    .panel.panel-default
                        .panel-heading
                            h3.text-center.panel-title Balade éducative
                            br
                            .panel-body.color-jumbo.text-justify
                                img(src="/images/img_balade.jpg" width="100%" class="img-rounded")
                                br
                                br
                                em Je vous propose 3 types de balade éducative :
                                    br
                                    br
                                    a(href="" class="bouton" onclick="bascule('text1');return false;") - Balade collective
                                    br
                                    #text1.text-justify(style='display: none;') Une balade à plusieurs, avec les propriétaires, votre chien
                                        | s'amuse avec ses congénères, et vous pouvez apprendre à
                                        | observer la communication de votre chien, et à obtenir son
                                        | attention malgré ces distractions.
                                    br
                                    a(href="" class="bouton" onclick="bascule('text2');return false;") - Balade individuelle
                                    br
                                    #text2.text-justify(style='display: none;') adapté à votre chien et à vos envies : je passe prendre votre
                                        | chien chez vous et le ramène après, et profite de l'absence de
                                        | congénères pour le travailler sur les points de votre choix.
                                    br
                                    a(href="" class="bouton" onclick="bascule('text3');return false;") - Balade autonome
                                    br
                                    #text3.text-justify(style='display: none;') une balade où votre chien sera en compagnie d'autres chiens dont
                                        | l'affinité aura été testé. Le chien est un animal sociable :
                                        | il a besoin de contacts avec ses congénères. Cette balade lui
                                        | permet de se dépenser physiquement et mentalement en
                                        | interagissant avec d'autres chiens.
                                    br
                .col.col-md-3.col-md-offset-0
                    .panel.panel-default
                        .panel-heading
                            h3.text-center.panel-title Pension
                            br
                            .panel-body.color-jumbo.text-justify
                                img.img-thumbnail(src="/images/img_pension.jpg")
                                br
                                br
                                em Je peux accueillir votre chien lors de vos absences ou
                                    |  voyages, à mon domicile, en pension familiale.
                                    br
                                    | Pour cela, il est nécessaire que les vaccins de votre chien soient à
                                    | jour et qu'il soit vermifugé.
                                    br
                                    | Je vous propose également une garderie de jour : votre chien
                                    | s'amuse et se dépense avec des congénères pendant que vous travaillez, et il
                                    | revient fatigué chez vous.
                .col-md-3.col-md-offset-0
                    .panel.panel-default
                        .panel-heading
                            h3.text-center.panel-title Conseil acquisition
                            br
                            .panel-body.color-jumbo.text-justify
                                img(src="/images/img_acqui.jpg" width="100%" class="img-circle")
                                br
                                br
                                em Vous allez avoir un chiot ou un chien adulte ? Vous hésitez sur la
                                    | race, le lieu, où l'obtenir, le caractère ?
                                    br
                                    a(href="" class="bouton" onclick="bascule('text4');return false;") En savoir plus
                                    br
                                    #text4.text-justify(style='display:none;') Je peux vous aider à choisir votre futur compagnon en fonction
                                        | de votre mode de vie, vos habitudes et vos envies, afin que
                                        |  cette aventure se passe au mieux.<br> Je peux également
                                        |  répondre à toutes les questions que vous vous posez sur son
                                        |  arrivée, son éducation, sa socialisation...
            .row
                .col-md-3
                    .panel.panel-default
                        .panel-heading
                            em
                                h3.text-center.panel-title Tarifs
                                br
                                .panel-body.color-jumbo.text-justify
                                    | Cours individuel
                                    br
                                    br
                                    | - Forfait 3 leçons
                                    .row
                                        .col-md-offset-8.col-md-4.text-right 105 &euro;
                                    | - Forfait 5 leçons
                                    .row
                                        .col-md-offset-8.col-md-4.text-right 165 &euro;
                                    | - Forfait 10 leçons
                                    .row
                                        .col-md-offset-8.col-md-4.text-right 300 &euro;
                                    | - Cours à l'unité
                                    .row
                                        em.col-md-8.text-left
                                            h5
                                                small (Durée environ 1H)
                                        .col-md-4.text-right 40 &euro;
                                    | - Bilan comportemental
                                    .row
                                        em.col-md-8.text-left
                                            h5
                                                small (Durée variable)
                                        .col-md-4.text-right 45 &euro;
                                    | - Cours réeducation
                                    .row
                                        em.col-md-8.text-left
                                            h5
                                                small (Durée environ 1H)
                                        .col-md-4.text-right 40 &euro;
                                    | - Forfait chiot (jusqu'à 6 mois)
                                    .row
                                        .col-md-offset-2.col-md-10.text-right 10 leçons pour 250 &euro;
                                    br
                                    br
                                    | A savoir:
                                    br
                                    | Les bilans comportementaux sont obligatoires
                                    | dans le cas de problèmes de comportement
                                    | , sauf si un forfait 5 ou 10h est choisi.
                                    br
                                    | Des frais de déplacement peuvent s'appliquer au delà de 25km : 0.4&euro;/km.
                .col-md-3.col-md-offset-0
                    .panel.panel-default
                        .panel-heading
                            em
                                h3.text-center.panel-title Tarifs
                                br
                                .panel-body.color-jumbo
                                    | Balade collective
                                    .row
                                        h5.col-md-8.text-left
                                            small (Durée variable)
                                        .col-md-4.text-right 15 &euro;
                                    | Balade individuelle
                                    .row
                                        h5.col-md-8.text-left
                                            small (Durée environ 1H)
                                        .col-md-4.text-right 12 &euro;
                                    | Balade autonome
                                    .row
                                        h5.col-md-8.text-left
                                            small (Durée environ 1H)
                                        .col-md-4.text-right 10 &euro;
                                    | Possibilités de forfaits à la demande
                .col-md-3.col-md-offset-0
                    .panel.panel-default
                        .panel-heading
                            em
                                h3.text-center.panel-title Tarifs
                                br
                                .panel-body.color-jumbo
                                    | A la journée
                                    .row
                                        .col-md-offset-8.col-md-4.text-right 15 &euro;
                                    | Forfait 7 jours :
                                    .row
                                        .col-md-offset-8.col-md-4.text-right 90 &euro;
                                    | Garderie de jour :
                                    .row
                                        h5.col-md-8.text-left
                                            small (9H à 18H)
                                        .col-md-4.text-right 12 &euro;
                                    | L'alimentation de votre chien n'est pas inclu dans le tarif
                                    |  et doit être apporté par vos soins
                .col-md-3.col-md-offset-0
                    .panel.panel-default
                        .panel-heading
                            em
                                h3.text-center.panel-title Tarifs
                                br
                                .panel-body.color-jumbo
                                    | Tarif unique
                                    .row
                                        .col-md-offset-8.col-md-4.text-right 35 &euro;
            .text-justify
                h5 Pour un problème de comportement/une réeducation, je vous conseille
                    | fortement de ne pas prendre de cours à l'unité, mais d'opter pour un forfait,
                    | ce qui laisse du temps pour travailler sur le problème.
                br
                h4
                    b Tout rendez vous fixé devra être annulé 48h à l'avance au minimum. Dans le cas contraire
                        | la séance sera facturée et non reportée. Merci de votre compréhension.

    script(type='text/javascript').
        function bascule(id) {
            if (($('#'+id)).is(':visible')) $('#'+id).hide('slow');
            else ($('#'+id)).show('slow')
        }