//
   Created by Nicolas.Vatin on 21/04/2016.

extends layout
block content
    .container
        .jumbotron
            h2.text-center Qui suis-je ?
        .panel.panel-default
            .panel-heading
                h1.text.panel-title.text-justify
                    .row
                        .col-md-3.col-xs-12
                            .row
                                br
                                br
                                br
                                br
                                br
                                img(src="/images/img_qui1.jpg" width="80%" height="auto" class="img-rounded center-block")
                        .col-md-9.col-xs-12
                            br
                            | Je m'appelle Célia Aubertin, je suis éducateur canin diplômée d'état depuis septembre 2014. J'exerce dans le Doubs et peux me déplacer partout en Franche-Comté*.
                            br
                            br
                            | Ayant toujours voulu travailler avec les animaux et passionnée par l'étude du comportement, je me suis dirigée tout d'abord vers un master d'éthologie
                            | (étude du comportement animal ou humain) que j'ai effectué à l'université de Paris. J'ai ainsi pu acquérir les connaissances scientifiques sur le comportement du
                            | chien, et j'ai pu évoluer dans divers milieux canins lors de mes stages (centre Handi'Chiens, club canin, chien médiateur en institution...).
                            br
                            br
                            | J'ai ensuite effectué la formation d'éducateur canin et ai obtenu mon Brevet Professionnel à Cibeins, où j'ai pu apprendre le métier d'éducateur
                            | en méthodes positives. J'ai pu acquérir là-bas les connaissances théoriques mais également pratiques, avec de nombreux stages et un travail sur les
                            | chiens tout au long de l'année.
                            br
                            | Enfin, j'ai eu l'opportunité exceptionnelle d'aller effectuer un stage au Québec pendant 5 mois ; avec un éducateur canin, Sébastien Larabée
                            |(site internet :
                            a(href="http://sebastienlarabee.com/") http://sebastienlarabee.com/
                            | ) et une pension canine, le Centre Canin Traks (
                            a(href="http://www.centrecanintraks.com/") http://www.centrecanintraks.com/
                            | ).
                            br
                            br
                            | Cette expérience a réellement été très riche pour moi : cela m'a permis d'accroître mon expérience, de continuer à me former et surtout d'ajouter à mes
                            | connaissances les outils utilisés là-bas. Je remercie chaleureusement Sébastien Larabée qui m'a appris à être rigoureuse, objective, et à toujours faire passer
                            | le bien-être du couple humain/chien en premier. Je remercie également Sophie Raynaud  qui m'a permis d'accroître mon expérience en gestion d'une pension, de groupes
                            | de chiens, ainsi que de travailler les comportements de chiens à problèmes. J'ai également passé une journée par semaine à la SPCA de Montréal, avec l'évaluatrice
                            | comportementale des chiens nouvellement arrivés, ce qui m'a aussi beaucoup apporté.
                            br
                            h6 *Des frais de déplacement peuvent s'appliquer
                    .row
                        .col-md-12
                            br
                            br
                            h3 Diplômes et formations
                            br
                            .row
                                .col-md-2
                                    u Septembre 2014
                                    | :
                                .col-md-10
                                    b Brevet Professionnel d'Educateur Canin
                                    | . Cette formation a lieu au CFPPA de Cibeins et comprend de nombreux intervenants dont Eléonore
                                    | Buffet pour la partie éducation.
                            br
                            .row
                                .col-md-2
                                    u Septembre 2013
                                    | :
                                .col-md-10
                                    b Master d'Ethologie Appliquée
                                    | ,  effectué à l'université de Paris 13 après 2 ans d'éthologie, et 3 ans de biologie.
                                    br
                            br
                            h3 Stages et séminaires suivis :
                            br
                            .row
                                .col-md-2
                                    u Septembre 2015- Février 2016 
                                    | :
                                .col-md-10
                                    | stage au Québec avec Sébastien Larabée et Sophie Raynaud : éducation et rééducation à domicile, gestion des groupes de chiens en pension
                                    | et garderie de jour, évaluation des chiens en SPA...
                            br
                            .row
                                .col-md-2
                                    u Avril 2015
                                    |  :
                                .col-md-10
                                    | Module « Chiens stressés, sensibles, peureux, excitables, difficilement contrôlables » avec Véronique Valy d'Au'tour du Chien
                            br
                            .row
                                .col-md-2
                                    u Avril 2014
                                    |  :
                                .col-md-10
                                    | Séminaire « Quelles origines et quelles issues pour les comportements indésirables chez le chien ? Regards croisés des acteurs de la filière »
                            br
                            .row
                                .col-md-2
                                    u Novembre 2013
                                    |  :
                                .col-md-10
                                    | Congrès du 2ème symposium international de la Société Européenne d'Ethologie Vétérinaire des Animaux Domestiques (SEEVAD) : « Capacités cognitives et interactions
                                    | homme-animal » avec présentation d'un poster de mon étude réalisée en master d'éthologie « Validation d'un test de sélection de chiens de compagnie en vue d'activités assistées par l'animal ».
                            br
