extends layouts/application

block content
  .container.who-am-i.editorial
    h2 Qui suis-je ?
    img.img-thumbnail.left(src="/images/who-am-i.jpg")
    p
      | Je m'appelle Célia Aubertin, je suis éducateur canin diplômée d'état depuis septembre 2014. J'exerce dans le Doubs et peux me déplacer partout en Franche-Comté*.
    p
      | Ayant toujours voulu travailler avec les animaux et passionnée par l'étude du comportement, je me suis dirigée tout d'abord vers un master d'éthologie
      | (étude du comportement animal ou humain) que j'ai effectué à l'université de Paris. J'ai ainsi pu acquérir les connaissances scientifiques sur le comportement du
      | chien, et j'ai pu évoluer dans divers milieux canins lors de mes stages (centre Handi'Chiens, club canin, chien médiateur en institution...).
    p
      | J'ai ensuite effectué la formation d'éducateur canin et ai obtenu mon Brevet Professionnel à Cibeins, où j'ai pu apprendre le métier d'éducateur
      | en méthodes positives. J'ai pu acquérir là-bas les connaissances théoriques mais également pratiques, avec de nombreux stages et un travail sur les
      | chiens tout au long de l'année.
    p
      | Enfin, j'ai eu l'opportunité exceptionnelle d'aller effectuer un stage au Québec pendant 5 mois ;
      | avec un éducateur canin, <a href="http://sebastienlarabee.com/">Sébastien Larabée</a>
      | et une pension canine, le <a href="http://www.centrecanintraks.com/">Centre Canin Traks</a>.
    p
      | Cette expérience a réellement été très riche pour moi&nbsp;: cela m'a permis d'accroître mon expérience, de continuer à me former et surtout d'ajouter à mes
      | connaissances les outils utilisés là-bas. Je remercie chaleureusement Sébastien Larabée qui m'a appris à être rigoureuse, objective, et à toujours faire passer
      | le bien-être du couple humain/chien en premier. Je remercie également Sophie Raynaud  qui m'a permis d'accroître mon expérience en gestion d'une pension, de groupes
      | de chiens, ainsi que de travailler les comportements de chiens à problèmes. J'ai également passé une journée par semaine à la SPCA de Montréal, avec l'évaluatrice
      | comportementale des chiens nouvellement arrivés, ce qui m'a aussi beaucoup apporté.
    p.text-right
      em
        small *Des frais de déplacement peuvent s'appliquer

    h3 Diplômes et formations

    table.table.table-striped
      tbody
        tr
          td Septembre 2014
          td
            | <strong>Brevet Professionnel d'Educateur Canin.</strong>
            | Cette formation a lieu au CFPPA de Cibeins et comprend de nombreux intervenants dont Eléonore
            | Buffet pour la partie éducation.
        tr
          td Septembre 2013
          td
            | <strong>Master d'Ethologie Appliquée</strong>.
            | Effectué à l'université de Paris 13 après 2 ans d'éthologie, et 3 ans de biologie.

    h3 Stages et séminaires suivis

    table.table.table-striped
      tbody
        tr
          td Septembre 2015<br />- Février 2016 
          td
            | Stage au Québec avec Sébastien Larabée et Sophie Raynaud&nbsp;: éducation et rééducation à domicile, gestion des groupes de chiens en pension
            | et garderie de jour, évaluation des chiens en SPA...
        tr
          td Avril 2015
          td
            | Module « Chiens stressés, sensibles, peureux, excitables, difficilement contrôlables » avec Véronique Valy d'Au'tour du Chien
        tr
          td Avril 2014
          td
            | Séminaire « Quelles origines et quelles issues pour les comportements indésirables chez le chien ? Regards croisés des acteurs de la filière »
        tr
          td Novembre 2013
          td
            | Congrès du 2ème symposium international de la Société Européenne d'Ethologie Vétérinaire des Animaux Domestiques (SEEVAD) : « Capacités cognitives et interactions
            | homme-animal » avec présentation d'un poster de mon étude réalisée en master d'éthologie « Validation d'un test de sélection de chiens de compagnie en vue d'activités assistées par l'animal ».
